.adv-left {
    padding: 0 15px;
}

    .adv-left__title {
        color: #7c8695;
        font-size: 14px;
        line-height: 21px;
        padding: 15px 0 15px 0;
    }

    .adv-left__img {
        display: block;
    }

    .adv-left__footer {
        color: #d3d3d3;
        font-size: 11px;
        line-height: 16px;
        padding: 5px 0 15px 0;
        border-bottom: 1px solid #dfe1e5;
    }