.adv-right {
    padding: 0 18px 0 11px;
}

    .adv-right__title {
        color: #7c8695;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        padding: 11px 0 13px 1px;
    }

    .adv-right__img {
        display: block;
    }

    .adv-right__footer {
        color: #d3d3d3;
        font-size: 11px;
        line-height: 16px;
        padding: 6px 0 15px 1px;
    }