.adv-right {
    padding: 0 18px 0 10px;
}

    .adv-right__title {
        color: #7c8695;
        font-size: 14px;
        line-height: 21px;
        padding: 14px 0 14px 0;
    }

    .adv-right__img {
        display: block;
    }

    .adv-right__footer {
        color: #d3d3d3;
        font-size: 11px;
        line-height: 16px;
        padding: 5px 0 15px 0;
    }