@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot");
    src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}