.modal {
    position: fixed;
    z-index: 1;
    padding-top: 8%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal__box {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #59606b;;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: modalIn;
    animation-duration: 0.4s
}


@keyframes modalIn {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal__header {
    padding: 15px 15px;
    background-color: #87b448;
    border-bottom: 1px solid #71973c;
    color: #fff;
    position: relative;
}

    .modal__title {
        display: inline-block;
        font-size: 24px;
    }

    .modal__close {
        background-color: transparent;
        border: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 28px;
        font-weight: bold;
        line-height: 28px;
        text-align: center;
        padding: 0 10px;
        vertical-align: middle;
        position: absolute;
        right: 10px;
        top: 15px;
        transition: text-shadow 0.2s ease;
        &:hover, &:focus, &:active {
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
        }
    }

.modal__content {
    padding: 15px 15px;
}

    .modal__info {
        color: #1c2534;
        font-size: 16px;
        font-weight: normal;
        margin: 0 0 10px 0;
        padding-bottom: 5px;
    }

    .modal__desc {
        color: #7c8695;
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 10px 0;
    }

.modal__footer {
    padding: 0 15px 15px 15px;
    background-color: #fff;
    color:  #59606b;
    text-align: center;
    &::before {
        content: '';
        display: block;
        margin-bottom: 15px;
        border-top: 1px solid #dfe1e5;
    }
}

    .modal__ok {
        background-color: transparent;
        border: none;
        color: #59606b;
        cursor: pointer;
        display: inline-block;
        font-size: 20px;
        padding: 0 10px;
        vertical-align: middle;
        &:hover, &:active, &:focus {
            color: #71973c;
        }
    }