.page-header {
    background-color: #87b448;
    border-bottom: 2px solid #71973c;
    padding-right: 16px;
}

    .page-header__container {
        box-sizing: border-box;
        min-height: 66px;
        max-width: 970px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 14px 0 14px;
        display: flex;
        align-items: center;
    }

.logo {
    background: url("images/logo.png") center / cover no-repeat;
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 4px;
    height: 40px;
    width: 130px;
    vertical-align: middle;
    flex: 0 0 auto;
}

@media only screen and ( min-device-pixel-ratio: 1.3 ),
       only screen and ( min-resolution: 120.0dpi ),
       only screen and ( min-resolution: 1.3dppx ) {

       .logo {
           background: url( 'images/logo@2x.png' ) no-repeat top left / 130px 40px;
       }

}

.search {
    display: inline-block;
    margin: 0 0;
    padding: 0 15px;
    position: relative;
    flex: 1 1 auto;
    &::before {
        content: '';
        display: inline-block;
        @include sprite($icon-search);
        position: absolute;
        left: 15px + 10px;
        top: 10px;
    }
}

    .search__input-text {
        background-color: #73993d;
        border: none;
        border-radius: 3px;
        box-sizing: border-box;
        color: #ffffff;
        display: block;
        font-size: 15px;
        margin: 2px 0 0 0;
        padding: 0 15px 0 37px;
        min-height: 34px;
        width: 100%;
        vertical-align: middle;
        &::placeholder {
            color: #fff;
            opacity: 1;
        }
    }

.header-icons {
    display: inline-block;
    padding: 2px 16px 0 8px;
    vertical-align: middle;
    flex: 0 0 auto;
}

    .header-icons__icon {
        display: inline-block;
        line-height: 0px;
        font-size: 0px;
        cursor: pointer;
        background: transparent;
        color: transparent;
        border: none;
        padding: 2px 0;
        text-align: center;
        min-width: 41px;
        vertical-align: middle;
        &::before {
            content: '';
            display: inline-block;
        }
    }

    .header-icons__icon_chat::before {
        @include sprite($icon-chat);
    }
    .header-icons__icon_notifications::before {
        @include sprite($icon-notifications);
    }

.user {
    display: inline-block;
    padding: 0 5px;
    width: 210px;
    vertical-align: middle;
    flex: 0 0 auto;
}

    .user__img {
        border-radius: 5px;
        display: inline-block;
        object-fit: cover;
        height: 32px;
        width: 32px;
        vertical-align: middle;
    }
    .user__name {
        display: inline-block;
        color: #fefefe;
        font-size: 16px;
        padding: 1px 0 0 10px;
        overflow: hidden;
        max-width: 210px - 32px - 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
    }