.products {
    padding: 0 16px 0 9px;
    &::after {
        content: '';
        display: block;
        margin-top: 7px;
        border-bottom: 1px solid #dfe1e5;
    }
}

.products__header {
    padding: 15px 0 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

    .products__title {
        color: #7c8695;
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        max-width: 75%;
        padding-right: 10px;
    }

    .products__all {
        color: #1c2534;
        display: inline-block;
        font-size: 14px;
        text-decoration: none;
        &:hover, &:active {
            text-decoration: underline;
        }
    }

.products-card {
    padding-bottom: 19px;
}

    .products-card__title {
        color: #1c2534;
        font-size: 16px;
        padding: 0 0 0 1px;
    }

    .products-card__img {
        border-radius: 5px;
        display: inline-block;
        margin-top: 3px;
        margin-left: 2px;
        object-fit: cover;
        width: 80px;
        height: 80px;
        vertical-align: top;
    }

    .products-card__desc {
        color: #7c8695;
        display: inline-block;
        font-size: 14px;
        line-height: 16px;
        max-width: 120px;
        margin-top: 4px;
        padding-left: 6px;
        vertical-align: top;
    }

    .products-card__p {
        margin: 0 0 0 0;
    }

// Ellipsis

    .products-card__title {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .products-card__desc {
        background: #fff;
        overflow: hidden;
        position: relative;
        line-height: 16px;
        max-height: 16px * 5;
        max-width: 120px;
        &::before {
            content: '...';
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 0 0.2em;
            background: inherit;
        }
        & p:last-child::after {
            content: '\0000a0';
            position: absolute;
            width: 1000px;
            z-index: 1;
            background: #fff;
        }
    }