doctype html
html
    head
        meta(charset="utf-8")
        title Denteez - Contact Us
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" type="text/css" href="css/contact.min.css")
    body
        include include/contact-header.pug
        main
            include include/contact-promo.pug
            include include/contact-content.pug
            include include/contact-about.pug
        include include/contact-footer.pug
        script(type="text/javascript" src="js/main.min.js")
        script(type="text/javascript") addEnquiryTypes();
