doctype html
html
    head
        meta(charset="utf-8")
        title Denteez
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" type="text/css" href="css/main.min.css")
    body
        include include/page-header.pug
        .page-content
            aside.left-sidebar
                include include/navigation.pug
                include include/adv-left.pug
                include include/companies.pug
                include include/footer.pug
            main
                include include/services.pug
            aside.right-sidebar
                include include/people.pug
                include include/products.pug
                include include/adv-right.pug
        script(type="text/javascript" src="js/main.min.js")
        script(type="text/javascript") addServices();
