@import "partial/_normalize";
@import "partial/_fonts";

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
    background-color: #fff;
    color: #1c2534;
    font-family: "Proxima Nova", sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

@import "partial/_sprite";

@import "partial/_page-header";
@import "partial/_navigation";
@import "partial/_adv-left";
@import "partial/_companies";
@import "partial/_footer";
@import "partial/_services";
@import "partial/_people";
@import "partial/_products";
@import "partial/_adv-right";
