section.companies
    header.companies__header
        h3.companies__title Featured Companies
        a.companies__all(href="#") See All
    .company-card
        img.company-card__img(src="img/company-1.png" alt="company-1")
        .company-card__desc
            h4.company-card__title Company Name
            .company-card__type Manufacturer
            .company-card__address Belgrade, Serbia
            a.company-card__link(href="#") Follow Now
    .company-card
        img.company-card__img(src="img/company-2.png" alt="company-2")
        .company-card__desc
            h4.company-card__title Company Name
            .company-card__type Service Provider
            .company-card__address New York, USA
            a.company-card__link(href="#") Follow Now
    .company-card
        img.company-card__img(src="img/company-3.png" alt="company-3")
        .company-card__desc
            h4.company-card__title Company Name
            .company-card__type Supplier
            .company-card__address London, England
            a.company-card__link(href="#") Follow Now

