footer.contact-footer
    .contact-footer__copy Denteez Copyright 2015
    .contact-footer__links
        a.contact-footer__link(href="#") Support
        a.contact-footer__link(href="#") Privacy Policy
        a.contact-footer__link(href="#") Terms of use
