section.contact-promo
    .contact-promo__text
        h2.contact-promo__title Home of Dentistry
        p.contact-promo__desc Denteez was created by dentists for dentistry in order to make the life of everyone involved in dentistry easier.
