nav.navigation
    ul.navigation__list
        li.navigation__item
            a.navigation__link(href="#") Feed
        li.navigation__item
            a.navigation__link(href="#") Ask a Colleague
        li.navigation__item
            a.navigation__link(href="#") Companies
        li.navigation__item
            a.navigation__link(href="#") Service Directory
