nav.navigation
    ul.navigation__list
        li.navigation__item
            a.navigation__link.navigation__link_feed(href="#") Feed
        li.navigation__item
            a.navigation__link.navigation__link_ask(href="#") Ask a Colleague
        li.navigation__item
            a.navigation__link.navigation__link_companies(href="#") Companies
        li.navigation__item
            a.navigation__link.navigation__link_services(href="#") Service Directory
