header.page-header
    .logo
    form.search
        input(type="text" placeholder="Company Name").search__input-text
        span.search__submit-wrapper
            input(type="submit" value="").search__submit
    .header-icons
        button.header-icons__chat
        button.header-icons__notifications
    .user
        img.user__img(src="img/user.png" alt="Maximillian Beekeeper")
        span.user__name Maximillian Beekeeper

