header.page-header
    .page-header__container
        .logo
        form.search
            input(type="text" placeholder="Company Name").search__input-text
        .header-icons
            button.header-icons__icon.header-icons__icon_chat Chat
            button.header-icons__icon.header-icons__icon_notifications Notifications
        .user
            img.user__img(src="img/user.png" alt="Maximillian Beekeeper")
            span.user__name Maximillian Beekeeper

