section.people
    header.people__header
        h3.people__title People you may know
        a.people__all(href="#") See All
    .people-card
        img.people-card__img(src="img/user-dennis-adams.png" alt="Dennis Adams")
        .people-card__desc
            h4.people-card__title Dennis Adams
            .people-card__position Dentist (Practice Owner)
            .people-card__address London, England
            a.people-card__link(href="#") Add Friend
    .people-card
        img.people-card__img(src="img/user-mary-carpenter.png" alt="Mary Carpenter")
        .people-card__desc
            h4.people-card__title Mary Carpenter
            .people-card__position Dentist (Practice Owner)
            .people-card__address Belgrade, Serbia
            a.people-card__link(href="#") Add Friend
    .people-card
        img.people-card__img(src="img/user-danielle-salazar.png" alt="Danielle Salazar")
        .people-card__desc
            h4.people-card__title Danielle Salazar
            .people-card__position Dentist (Practice Owner)
            .people-card__address Paris, France
            a.people-card__link(href="#") Add Friend
