section.products
    header.products__header
        h3.products__title Featured Products
        a.products__all(href="#") See All
    .products-card
        h4.products-card__title Product Name
        img.products-card__img(src="img/product-1.png" alt="product-1")
        .products-card__desc Product Short Description. The quick brown fox jumps over the lazy dog.
    .products-card
        h4.products-card__title Product Name
        img.products-card__img(src="img/product-2.png" alt="product-2")
        .products-card__desc Product Short Description. The quick brown fox jumps over the lazy dog.
