.services
    header.services__header
        h2.services__title Service Directory
        button.services__add Add New Service
    .services__content#services__content
        a.service-card(href="#")
            .service-card__img-wrapper
                img.service-card__img(src="img/accountancy.png" alt="accountancy")
            .service-card__desc Accountancy
        a.service-card(href="#")
            .service-card__img-wrapper
                img.service-card__img(src="img/associations.png" alt="associations")
            .service-card__desc Associations
        a.service-card(href="#")
            .service-card__img-wrapper
                img.service-card__img(src="img/buy-sell-dental.png" alt="Buy/Sell Dental Practice")
            .service-card__desc Buy/Sell Dental Practice
        a.service-card(href="#")
            .service-card__img-wrapper
                img.service-card__img(src="img/clinical-waste-collection.png" alt="Clinical Waste Collection")
            .service-card__desc Clinical Waste Collection
        a.service-card(href="#")
            .service-card__img-wrapper
                img.service-card__img(src="img/computer-service.png" alt="Computer Service")
            .service-card__desc Computer Service
        a.service-card(href="#")
            .service-card__img-wrapper
                img.service-card__img(src="img/cpr-basic-life-support.png" alt="CPR/Basic Life Support Training")
            .service-card__desc CPR/Basic Life Support Training
        a.service-card(href="#")
            .service-card__img-wrapper
                img.service-card__img(src="img/dental-recruitment.png" alt="Dental Recruitment")
            .service-card__desc Dental Recruitment
        a.service-card(href="#")
            .service-card__img-wrapper
                img.service-card__img(src="img/dental-software.png" alt="Dental Software")
            .service-card__desc Dental Software
        a.service-card(href="#")
            .service-card__img-wrapper
                img.service-card__img(src="img/electrical-safety.png" alt="Electrical Safety And Testing")
            .service-card__desc Electrical Safety And Testing
